#ionic-logo{
  color: #3880FF;
}

#react-logo{
  color: #61dafb;
}

#javascript-logo{
  color: #FCDC00;
}

#marvel-api-logo{
  color: #e62429;
}

#about-api{
  margin-top: 30px;
}

#desc-title{
  color: #ffff;
  opacity: 60%;
}

#content-text{
  color: #ffff;
}

#list-text{
  color: #ffff;
}

.tab-name{
  color: #ffff;
}